
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap">
    <link rel="stylesheet" href="/css/login.css">
</head>

<body>
    <div class="login-container">
        <div class="login">
            <form action="/sign" method="post">
                <h1>SingUp</h1>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" name="username">
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" name="password">
                </div>
                <div class="btn-box">
                    <div class="btn">
                        <button type="submit">Login</button>
                    </div>
                    <div class="btn">
                        <a href="/signPage">Sign In</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</body>

</html>
